<ion-view title="Sirprises">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>There is 1 Sirprise near you!</h4>
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/sirprise-list/id1">
                <img src="img/odMEwrzT82BSm14Evfvh_MaGic_07.JPG">
                <h2>A HIDDEN MEAL</h2>
                <p>Discover a hidden place to eat in MaGic Cyberjaya</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>