<ion-view title="A HIDDEN MEAL">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/PcCTn4RLRsye7gN6b8J4_MaGic_07.JPG" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 283px; height: 26px;"></div>
        <div>
            <p>Get to the main enterance.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 26px;"></div>
        <button class="button button-balanced button-block ">Next</button>
    </ion-content>
</ion-view>